<div class="form-group row">
  <div class="col-sm-5">
    <label class="col-form-label" for="first_name">First Name</label>
    <input readonly required type="text" style="max-width: fit-content;" autofocus class="form-control" name="first_name" value="<%= member.first_name %>" />

  </div>
  <div class="col-sm-5">
    <label class="col-form-label" for="surname">Surname</label>
    <input  readonly required type="text" style="max-width: fit-content;" class="form-control" name="surname" value="<%= member.surname %>" />
    
  </div>
  </div>
  
  <div class="form-group row">
    <div class="col-sm-5">
    <label class="col-form-label" for="sex">SEX</label>
      <select required class="form-control" name="sex" id="sex" style="max-width: fit-content;">
        <option selected value="<%= member.sex %>"><%= member.sex %></option>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
      </select>
    </div>
    <div class="col-sm-5">
      <label class="col-form-label" for="date_of_birth">Date of Birth</label>
      <input readonly required type="date" class="form-control" cols="20" name="date_of_birth" style="max-width: fit-content;" maxlength="32000" value="<%= member.date_of_birth %>" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">
      <label class="col-form-label" for="email">Email</label>
      <input readonly required type="email" class="form-control" style="max-width: fit-content;" name="email" value="<%= member.email %>" />
    </div>
    <div class="col-sm-5">
      <label class="col-form-label" for="phone_number">Phone Number</label>
      <input readonly required type="text" class="form-control" style="max-width: fit-content;" name="phone_number" value="<%= member.phone_number %>" />

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">
      <label class="col-form-label" for="address_line_1">Address Line 1</label>
      <input readonly type="text" class="form-control" style="max-width: fit-content;" name="address_line_1" value="<%= member.address_line_1 %>" />
    </div>
    <div class="col-sm-5">
      <label class="col-form-label" for="address_line_2">Address Line 2</label>
      <input readonly type="text" class="form-control" style="max-width: fit-content;" name="address_line_2" value="<%= member.address_line_2 %>" />
      
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">
      <label class="col-form-label" for="city">City</label>
      <input readonly type="text" class="form-control" style="max-width: fit-content;" name="city" value="<%= member.city %>" />
    </div>
    <div class="col-sm-5">
      <label class="col-form-label" for="postcode">Postcode</label>
      <input readonly type="text" class="form-control" style="max-width: fit-content;" name="postcode" value="<%= member.postcode %>" />
    </div>
  </div>


  <div class="form-group row">
    
    <div class="col-sm-5">
      <label class="col-form-label" for="baptised">Baptised</label>
      <select required class="form-control" style="max-width: fit-content;" name="baptised" id="baptised">
        <option selected value="<%= member.baptised %>"><%= member.baptised %></option>
        <option value="YES">YES</option>
        <option value="NO">NO</option>
      </select>
    </div>
    <div class="col-sm-5">
      <label class="col-form-label" for="baptised_date">Date of Baptism</label>
      <input readonly type="date" style="max-width: fit-content;" class="form-control" cols="20" name="baptised_date" maxlength="32000" value="<%= member.baptised_date %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-5" for="holy_spirit">Annointed with Holy Spirit</label>
    <div class="col-sm-7">
      <select required class="form-control" style="max-width: fit-content;" name="holy_spirit" id="holy_spirit">
        <option selected value="<%= member.holy_spirit %>"><%= member.holy_spirit %></option>
        <option value="YES">YES</option>
        <option value="NO">NO</option>
      </select>
    </div>

  </div>
  

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="native_church">Native Church</label>
    <div class="col-sm-7">
      <input readonly type="text" class="form-control" name="native_church" value="<%= member.native_church %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="children_details">Children Details</label>
    <div class="col-sm-7">
      <input readonly type="text" class="form-control" name="children_details" value="<%= member.children_details %>" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">
      <label class="col-form-label" for="emergency_contact_1_name">Emergency Contact Number 1 Name</label>
      <input readonly type="text" class="form-control" style="max-width: fit-content;" name="emergency_contact_1_name" value="<%= member.emergency_contact_1_name %>" />
    </div>
    <div class="col-sm-5">
      <label class="col-form-label" for="emergency_contact_1">Emergency Contact Number 1</label>
      <input readonly type="text" class="form-control" style="max-width: fit-content;" name="emergency_contact_1" value="<%= member.emergency_contact_1 %>" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-5">
      <label class="col-form-label " for="emergency_contact_2_name">Emergency Contact Number 2 Name</label>
      <input readonly type="text"  style="max-width: fit-content;"class="form-control" name="emergency_contact_2_name" value="<%= member.emergency_contact_2_name %>" />
    </div>
    <div class="col-sm-5">
      <label class="col-form-label" for="emergency_contact_2">Emergency Contact Number 2 </label>
      <input readonly type="text" style="max-width: fit-content;" class="form-control" name="emergency_contact_2" value="<%= member.emergency_contact_2 %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="occupation_studies">Occupation/Studies</label>
    <div class="col-sm-7">
      <input readonly type="text" class="form-control" name="occupation_studies" value="<%= member.occupation_studies %>" />
    </div>
  </div>
