<%- include("_loggedInHeader") -%>

<h1 class="display-5">Members</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const member of model) { %>
        <tr>
          <td ><a href="/edit/<%= member.id %>"><%= member.id %></a></td>
          <td><a href="/edit/<%= member.id %>"><%= member.first_name %></a></td>
          <td><a href="/edit/<%= member.id %>"><%= member.surname %></a></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-info" href="/donations/<%= member.id %>">View Giving</a>
            <a class="btn btn-sm btn-warning" href="/edit/<%= member.id %>">Edit</a>
            <a class="btn btn-sm btn-danger" href="/delete/<%= member.id %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <% if (totalPages > 1) { %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
          <a class="page-link" href="/claimants/<%= i %>"><%= i %></a>
        </li>
      <% } %>
    <% } %>
  </ul>
</nav>

<%- include("_loggedInFooter") -%>