<%- include("_loggedInHeader") -%>

<h1 class="display-5">All Donations For: <%= firstName %> <%= surname %></h1>
<br><h5>Total Giving: £<%= totalAmount %></h5>

<div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Fund</th>
          <th>Method</th>
          <th>Gift Aid Status</th>
        </tr>
      </thead>
      <tbody>
        <% for (const payments of model) { %>
          <tr>
            <td ><%= payments.id %></td>
            <td>£<%= payments.amount %></td>
            <td><%= payments.date %></td>
            <td><%= payments.fund %></td>
            <td><%= payments.method %></td>
            <td><%= payments.gift_aid_status %></td>

          </tr>
        <% } %>
        <a class="btn btn-default btn-success" href="/add-donation/<%= id %>">Add Donation</a>
        <a class="btn btn-default btn-secondary" href="/generate-donor-pdf/<%= id %>">Generate PDF</a>
        <a class="btn btn-default btn-info" href="/send-update-request/<%= id %>">Request Member to update details</a>
        <a class="btn btn-default btn-warning" href="/claimants">Return</a>
      </tbody>
    </table>
    
  </div>
  
  <%- include("_loggedInFooter") -%>