<%- include("_loggedInHeader") -%>

<h1>Select Giver</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const member of row) { %>
        <tr>
          <td ><%= member.id %></td>
          <td><%= member.first_name %></td>
          <td><%= member.surname %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-info" href="/add-donation/<%= member.id %>">Add Donation</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_loggedInFooter") -%>