<%- include("_loggedInHeader") -%>

<h1 class="display-5">Select Giver</h1>
<a class="btn btn-sm btn-success" href="/create">Add Donor</a>

<div class="table-wrapper">
  <div class="table-column">
    <table class="table table-hover table-sm custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Spouse Name</th>
          <th>Banking Name</th>
        </tr>
      </thead>
      <tbody>
        <% const halfwayIndex = Math.ceil(row.length / 2); %>
        <% for (let i = 0; i < halfwayIndex; i++) { %>
          <tr>
            <td><%= row[i].first_name %> <%= row[i].surname %></td>
            <td><%= row[i].spouse_name %></td>
            <td><%= row[i].banking_name %></td>
            <td class="d-print-none">
              <a class="btn btn-sm btn-info" href="/add-donation/<%= row[i].id %>">Add</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="table-column">
    <table class="table table-hover table-sm custom-table"> 
      <thead>
        <tr>
          <th>Name</th>
          <th>Spouse Name</th>
          <th>Banking Name</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = halfwayIndex; i < row.length; i++) { %>
          <tr>
            <td><%= row[i].first_name %> <%= row[i].surname %></td>
            <td><%= row[i].spouse_name %></td>
            <td><%= row[i].banking_name %></td>
            <td class="d-print-none">
              <a class="btn btn-sm btn-info" href="/add-donation/<%= row[i].id %>">Add</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include("_loggedInFooter") -%>
