<%- include("_loggedInHeader") -%>

<h1 class="display-5">Software Logs</h1>
<div class="table-wrapper">
  <div class="table-column">
    <table class="table table-hover table-sm custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th>Log</th>
        </tr>
      </thead>
      <tbody>
        <% for (const log of logging) { %>
          <tr>
            <td><%= log.id %></td>
            <td><%= log.timestamp %></td>
            <td><%= log.log_message %></td>

            
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include("_loggedInFooter") -%>