<%- include("_loggedInHeader") -%>

<h1>Bank Transactions</h1>

<a class="btn btn-default btn-success" href="/generate-transaction-pdf/2023">Generate Statement of Donations</a>
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Paid Out</th>
        <th>Paid In</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% for (const each of row) { %>
        <tr>
          <form action="/save-transaction/<%= each.id %>" method="post">
            <td><input readonly type="text" style="width: 90px; font-size: 0.8rem;" autofocus class="form-control" name="date" value="<%= each.date %>" /></td>

            <td><input type="text" style="width: 325px; font-size: 0.7rem;" autofocus class="form-control" name="description" value="<%= each.description %>" /></td>  

            <td><input readonly type="text" style="width: 70px; font-size: 0.8rem;" id="paid_out" name="paid_out" class="form-control" value="<%= each.paid_out %>"/></td>

            <td><input readonly type="text" style="width: 70px; font-size: 0.8rem;" id="paid_in" name="paid_in" class="form-control" value="<%= each.paid_in %>"/></td>

            <td>
              <select style="font-size: 0.8rem;" required class="form-control" style="max-width: fit-content;" name="type" id="type">
                <option value="" <%= !each.type ? 'selected' : '' %>></option> <!-- Add this line for default empty selection -->
                <% types.forEach(typeObj => { %>
                    <option value="<%= typeObj.type %>" <%= each.type === typeObj.type ? 'selected' : '' %>><%= typeObj.type %></option>
                <% }); %>
            </select>            
            </td>
            <td><a class="btn btn-sm btn-info" style="font-size: 0.7rem;" href="/select-giver" target="_blank" data-date="<%= each.date %>" data-description="<%= each.description %>" data-paid-out="<%= each.paid_out %>" data-paid-in="<%= each.paid_in %>">Add Donation</a></td>
            <td>
              <div class="form-horizontal">
                <div class="form-group row">
                  <div class="col-sm-10">
                    <input type="submit" style="font-size: 0.7rem;" value="Save" class="btn btn-default btn-success" />
                  </div>
                </div>
              </div>
            </td>
        </form>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("_loggedInFooter") -%>